/* App.css - Global styles */
:root {
    --primary-color: #ffffff;
    --secondary-color: #333;
    --button-bg-color: #ffffff;
    --button-text-color: #333;
    --button-border-color: #ddd;
    --spinner-color: #007bff;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff; /* Clean white background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Softer shadow for a lighter effect */
    margin-bottom: 1rem
}

.logo {
    height: auto;
    width: 120px;
}

.cart-link {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    /* other styles */
}

.cart-link:hover {
    background-color: #0056b3; /* Darker shade on hover for interactivity */
    text-decoration: none; /* Ensures underline does not reappear on hover */
    color: white; /* Ensuring text color stays the same on hover */
}

.chat-link {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Same padding as cart button */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* No underline */
    display: inline-block; /* Allow padding */
    transition: background-color 0.3s ease; /* Smooth transition for hover effects */
    /* Add any other styles to match the cart button */
}

.chat-link:hover {
    background-color: #0056b3; /* Darker blue on hover */
    text-decoration: none; /* No underline on hover */
}

@media (max-width: 768px) {
    .app {
        padding: 10px; /* Less padding on smaller screens */
    }

    nav {
        flex-direction: column; /* Stack nav items on top of each other */
        padding: 0.5rem;
    }

    .logo {
        margin-bottom: 1rem; /* Add space between logo and nav items */
    }

    .cart-link {
        padding: 8px 16px; /* Smaller button on mobile */
        margin-bottom: 1rem; /* Add space between cart link and nav items */
    }
}

@media (max-width: 480px) {
    /* Further adjustments for very small screens */
    nav {
        flex-direction: column;
    }
}
