/* Home.css - Styles for the Home component */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em;
}
button {
    padding: 8px 16px;
    margin-right: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    color: black;
}

button:hover {
    background-color: #4f72f6;
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
